fieldset {
    /* background-color: rgb(255, 255, 255); */
    width: 830px;
    padding-left: 30px;
    padding-top: 20px;
    background: rgba(0, 0, 0, .5);
    /* box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16); */
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border: none;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 20px;

    text-align: left;
  }




  input {
    margin: 10px;

  }

  #form {
    text-indent: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .container {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }


  body {
    /* background: rgb(235, 235, 235); */
    background: #243b55;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
  }

  textarea {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 200px;
    outline: 0;
    padding: 4px 20px 0;
    width: 600px;

  }

  a {
    margin: 20px;
  }

  h1 {
    text-align: center;
    font-family: 'Tiro Gurmukhi', sans-serif;
    font-weight: 500;
    letter-spacing: 0.8px;
    margin-top: 40px;
    margin-bottom: 40px;
  }


  button {
    font-size: 16px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #287ff9;
    border-radius: 5px 5px 5px 5px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    /* margin-left: 30px; */
  }

  button:hover {
    background-color: #2067cb;
    color: rgb(255, 255, 255);
  }

  .submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-left: 320px;
    text-align: center;
    width: 18%;
  }

  .submit:active {
    background-color: #06b;
  }