fieldset {
    /* background-color: rgb(255, 255, 255); */
   width: 830px;
   padding-left: 20px;
   padding-top: 20px;
    background: rgba(0,0,0,.5);
    /* box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16); */
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border: none;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 20px;
}

input {
    margin: 10px;

}

#form {
    text-indent: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
}



.input-text {
width: 60%;
padding: 10px 0;
font-size: 16px;
color: #fff;
margin-bottom: 30px;
border: none;
border-bottom: 1px solid #fff;
outline: none;
background: transparent;
}

body {
    /* background: rgb(235, 235, 235); */
    background: #243b55;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

a {
    margin: 20px;
}

h1 {
    text-align: center;
    font-family: 'Tiro Gurmukhi', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 50px;
   
    margin-bottom: 20px;
}


    
a:hover {
    background-color: #2067cb;
    color: rgb(255, 255, 255);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100px;
    border: 1px solid black;
    margin-left: 20px;
    margin-right: auto;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}



.input {
background-color: #303245;
border-radius: 12px;
border: 0;
box-sizing: border-box;
color: #eee;
font-size: 18px;
height: 40px;
outline: 0;
padding: 4px 20px 0;
width: 200px;
}
.quantity {
margin-bottom: 0;
}

flex-parent {
display: flex;
}

.jc-center {
justify-content: center;
}

/* button{} */

#next{
float: right;
/* font-size: 16px;
border: none;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 10px;
padding-right: 10px;
background-color: #287ff9;
border-radius: 5px 5px 5px 5px; 
color: rgb(255, 255, 255);
cursor: pointer; */

}
/* .Previous{
font-size: 16px;
margin-left: 260px;
border: none;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 10px;
padding-right: 10px;
background-color: #287ff9;
border-radius: 5px 5px 5px 5px; 
color: rgb(255, 255, 255);
cursor: pointer;

}  */

.submit:active {
background-color: #06b;
}
